@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px;}

::-moz-selection { /* Code for Firefox */
    color: #FFF;
   background-color:#417485;
}

::selection {
    color: #FFF;
    background-color:#417485;
}


body{
font-family:Arial;
font-size:1.2em;
color:#FFF;
background-color:#715272;




}

.imagen{width:100%;}
.inicio{display:none;}
.abut{}
.estilo{font-weight:bold; color:#f0c1f2}
h2{color:#f0c1f2;}
#contenedor{
display:flex;
flex-direction:column;
width:100%; 
          align-items: center;
          justify-content: center;
		position:absolute;
z-index:9;
}

#contenedor_dos{
padding:150px 0px 0px 0px;
width:100%;
display:none;
z-index:10;
  position:relative;
}

.menu{background-image:url(images/70_4b3d4e.png);
font-size:1.5em;
width:100%;
position:fixed;
z-index:20;
color:#FFF;
font-weight:bold;
}
ul {
    list-style-type: none;
    overflow: hidden;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

#uno{


}


#dos, #tres{
	margin:0px auto;
border-radius: 30px;
padding:15px 15px 15px 15px;
background-image:url(images/70_4b3d4e.png);
width:800px;
}


#pie{
padding:30px 20px 30px 20px;

}


@media screen and (max-width:800px){
	#contenedor{width:100% }
	#contenedor_dos{
		padding:220px 0px 0px 0px;
	}
	#dos{width:90%;
	margin:0px auto;
	}
	
	}







